/* geral */
.titulo {
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bg-light {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e5e2ff;
  width: 100%;
  height: 100%;
}

.button-login {
  font-size: 20px;
  width: 88%;
  background-color: #6c63fe;
  padding: 20px;
  margin: 0px 30px 50px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inscricao {
  text-align: center;
  font-size: 18px;
}

/* formulario */
.form {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.form input {
  width: 80%;
  padding: 20px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.campo-email {
  width: 80%;
  padding: 20px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.campo-senha {
  width: 80%;
  padding: 20px;
  margin: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/*login*/
label {
  display: none;
}

.login {
  position: absolute;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 550px;
  margin: auto;
}

.button-login {
  font-size: 20px;
  width: 88%;
  background-color: #6c63fe;
  padding: 20px;
  margin: 0px 30px 50px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inscricao {
  text-align: center;
  font-size: 18px;
}

/* register */
.register {
  position: absolute;
  border: 2px solid #ccc;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 500px;
  margin: auto;
}

.button-registrar {
  font-size: 15px;
  width: 88%;
  background-color: #6c63fe;
  padding: 20px;
  margin: 0px 30px 50px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* usuarios */
.bg-usuarios {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: px;
  background-color: #F6F8FB;
}

.form-usuarios {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 200px;
  margin-top: 50px;
}

.titulo-usuarios {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid;
  padding: 12px;
  text-align: center;
}

table th {
color: #88c21c;
}

th.id {
  width: 10px;
}

th.nome {
  width: 200px;
}

th.cpf {
  width: 150px;
}

th.email {
  width: 250px;
}

tbody  {
  color:#ccc;
}
thead  {
  color:#ccc;
}


/* site*/
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: #293042;
  height: 100vh;
  transition: width 0.3s ease;
}

.topo-sidebar {
  display: inline;
}

.logo {
  width: 40px;
  height: 45px;
  margin-left: 25px;
  margin-top: 10px;
}

.icon-home {
  margin-right: 10px;
}
.icon-user {
  margin-right: 10px;
}
.icon-logout {
  margin-right: 10px;
}

.bg-site {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background-color: #FFFFFF;
}

.menu-icon {
  font-size: 35px;
}

.toggle-btn {
  color: #293042;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  z-index: 2;
  font-size: 20px;
  margin-left: 10px;
}

.buttons {
  margin-top: 40px;
}

.buttons button {
  color: #fff;
  display: block;
  margin: 20px 0px 0px 25px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.buttons button a {
  color: #fff;
  text-decoration: none;
}

.corpo {
  flex-grow: 1;
  background-color: #fff;
  width: 100%;
}

.text1 {
  margin: 10px;
}

.titulo-site {
  font-size: 20px;
  margin: 30px 5px 0 10px;
}

.form-site {
  display: flex;
  margin-left: 250px;
}

.form-site input[type="text"] {
  background-color: #F3F6FB;
  width: 180px;
  height: 10px;
  padding: 15px 12px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: -180px;
}

.icons {
  display: flex;
}

.btn-lupa {
  color: #555;
  font-size: 19px;
  border: none;
  background-color:#FFFFFF;
  margin-top: 10px;
}

.perfil {
  align-items: center;
  font-size: 10px;
  display: flex;
  right: 100px;
  position: fixed;
  margin-top: 4px;
}

.nome-usuario {
font-size: 20px;
}

.img-perfil {
  max-width: 55px;
  margin-left: 14px;
}

.icon-msg {
  color: #555;
  font-size: 19px;
  border: none;
  background-color:#FFFFFF;
  position: fixed;
  top: 20px; /* Posição do topo */
  right: 350px; /* Posição da esquerda */
}

.icon-sino {
  color: #555;
  font-size: 19px;
  border: none;
  background-color:#FFFFFF;
  position: fixed;
  top: 20px; /* Posição do topo */
  right: 280px; /* Posição da direita */
}

.close {
  background-color: #88c21c;
}

.close li {
  position: relative;
  font-size: 0px;
}

.close .sidebar {
  width: 0px;
  transition: width 0.3s ease;
}

.close .toggle-btn {
  margin: 0 auto;
  margin-top: px;
  margin-left: 0px;
}