/* geral */
.titulo {
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bg-light {
  height: 550px;
  margin: auto;
}

.button-login {
  font-size: 20px;
  width: 88%;
  background-color: #6c63fe;
  padding: 20px;
  margin: 0px 30px 50px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inscricao {
  text-align: center;
  font-size: 18px;
}

/* register */
.register {
  position: absolute;
  border: 2px solid #ccc;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 500px;
  margin: auto;
}

.button-registrar {
  font-size: 15px;
  width: 88%;
  background-color: #6c63fe;
  padding: 20px;
  margin: 0px 30px 50px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* usuarios */
.bg-usuarios {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: #fff;
}

.form-usuarios {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 200px;
}

.titulo-usuarios {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid;
  padding: 12px;
  text-align: center;
}

table th {
  background-color: cornflowerblue;
}

th.id {
  width: 10px;
}

th.nome {
  width: 200px;
}

th.cpf {
  width: 150px;
}

th.email {
  width: 250px;
}

table tbody tr:nth-child(even) {
  background-color: #d3d3d3;
}

/* site2 */
html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar{
  width: 300px;
  background-color: #293042;
  height: 100vh;
  transition: left 0.3s ease;
}

.logo {
  width: 40px;
  height: 45px;
  margin-left: 25px;
  margin-top: 10px;
}

ul { 
  list-style-type: none;
  font-size: 25px;
}

li {
margin-top: 14px;
margin-left: -10px;
color: #ccc;
}

.bg-site {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  background-color: #FFFFFF;
}

.menu-icon {
  font-size: 35px;
}

.toggle-btn {
  margin-top: -15px;
  margin-left: 90px;
}

.corpo {
  flex-grow: 1;
  background-color: #88c21c;
  width: 100%;
}

.toggle-btn {
  color: #293042;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  left: 220px;
  position: fixed;
  top: 14px;
  z-index: 2;
  font-size: 20px;
}

.form-site {
  display: flex;
  margin-left: 250px;
}

.form-site input[type="text"] {
  background-color: #F5F7FB;
  width: 180px;
  height: 10px;
  padding: 15px 12px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: -180px;
}

.icons {
  display: flex;
}

.btn-lupa {
  color: #555;
  font-size: 19px;
  border: none;
  background-color: #fff;
  margin-right: 600px;
  margin-top: 10px;
}

.icon-msg {
  color: #555;
  font-size: 19px;
  border: none;
  background-color: #fff;
  margin-right: 30px;
  margin-top: 10px;
}

.icon-sino {
  color: #555;
  font-size: 19px;
  border: none;
  background-color: #fff;
  margin-top: 10px;
}

.close {
  background-color: #88c21c;
}

.close li {
  position: relative;
  font-size: 0px;
}

.close .sidebar {
  width: 0px;
  transition: left 0.3s ease;
}

.close .toggle-btn {
  margin-top: -15px;
  margin-left: -220px;
}

