/* Estilos para o barra de navegação */
.navbar {
  background-color: darkslategrey;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}

.titulo {
  font-size: 28px;
  font-family: "Russo One", sans-serif;
}

.menu-btn {
  font-size:  25px;
  margin-right: 20px;
}
