.navbar {
  position: relative;
  background-color:lightblue;
  padding: 8px; /* Adicionando um preenchimento para garantir espaço suficiente */
}

.icone {
  height: 40px;
  display: flex;
  margin-left: 00px; 
}

.titulo {
  color: black;
  margin-top: 10px; 
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;;
}

.nav-item {
  font-size: 20px;
}

.navbar-toggler {
  margin-right: 10px; 
} 

#carouselExampleFade {
  position: relative;
  top: 5vh; 
  left: 25%;
  width: 50%;
}
