.navbar-brand {
  color:darkgreen;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#carouselExampleFade {
  margin-top: 4%;
  width: 70%;
  margin-left: 160px;
}
